@media only screen and (max-width: 1234px) {
  .about-icons {
    font-size: 2.2rem;
  }
}

@media only screen and (max-width: 1200px) {
  .hm-head-1 {
    font-size: 42px;
    font-family: Fresh Pineapple;
    word-spacing: 5px;
    letter-spacing: 4px;
  }

  .hm-head-2 {
    font-size: 32px;
    font-family: Amaranth;
    color: #d3d0cb;
  }

  .heading-about {
    font-family: Amaranth;
    color: #1a5276;
    font-size: 3.5rem;
    padding-top: 8%;
    padding-bottom: 10%;
  }

  .about-skills {
    font-size: 2.3rem;
  }

  .html,
  .css,
  .js,
  .react,
  .node,
  .dj,
  .mdb,
  .pdb {
    font-size: 1.8rem;
  }

  .cpp,
  .java,
  .python {
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: 1107px) {
  .about-icons {
    font-size: 1.5rem;
  }

  .pl-icons {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 991px) {
  a.nav-link:before{
    width: 20%;
  }
  .hm-head-1 {
    font-size: 30px;
    font-family: Fresh Pineapple;
    word-spacing: 5px;
    letter-spacing: 4px;
  }

  .hm-head-2 {
    font-size: 24px;
    font-family: Amaranth;
    color: #d3d0cb;
  }

  .social-icons {
    font-size: 3rem;
  }

  .heading-about {
    font-family: Amaranth;
    color: #1a5276;
    font-size: 6.5rem;
    padding-top: 8%;
    padding-bottom: 10%;
  }

  .about-svg {
    font-size: 0.5rem;
  }

  .about-skills {
    font-size: 2rem;
  }

  .about-info p {
    font-size: 1.1rem;
    font-family: Amaranth;
    padding-top: 1rem;
  }

  .about-ul {
    list-style: none;
    display: flex;
    font-size: 26.9px;
  }
}

@media only screen and (max-width: 771px) {
  .ml15 {
    padding-left: 20%;
  }

  .iconify {
    width: 40px;
    height: 40px;
  }

  .stack-icons--js {
    width: 35px;
    height: 35px;
  }
  
  .stack-icons--rdx {
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 768px) {
  .hideOverflowOnMobile {
    overflow: hidden;
  }
}

@media only screen and (max-width: 520px) {
  .ml15 {
    padding-left: 10%;
  }
}

@media only screen and (max-width: 417px) {
  .ml15 {
    padding-left: 7%;
  }
}
